

<%= form_with url: login_path  do |f| %>
<div class="form-container">
  <div class="form-style-2">
    <div class="form-style-2-heading"> Creating an account </div>
        <%= f.label 'Name of the account' %>
        <%= f.text_field :name, class: 'input-field'%>
        <%= f.submit 'Login' %>
  </div>
</div>

<% end %>
