/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 1300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > div:first-child  a {
  text-decoration: none;
  color: black
}

.navbar > div:first-child  a:hover {
  background-color: white;
  text-decoration: none;
}

.navbar > div ul {
  list-style: none;
  display: inline-flex;
}

.navbar > div ul > li {
  margin: 0 1rem;
  text-transform: uppercase;
}

.navbar > div ul > li a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.navbar-selected {
  color: red !important;
}

.navbar-login {
  display: flex;
}

.navbar-login > div {
  margin: 0 1rem;
}

.navbar-login > div:last-child {
  margin: 0;
}

.fa-search {
  font-size: 1.2rem;
  color: gray;
}

.articles-row {
  display: flex;
  height: 15rem;
}

.articles-row > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  max-height: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}

.articles-row > div > img {
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.articles-row > div > h3,
.articles-row > div > p {
  z-index: 1;
  position: absolute;
  color: white;
  margin-left: 0.5rem;
}

.articles-row > div > h3 {
  border-bottom: solid yellow;
}
.articles-row > div > p {
  bottom: 0;
  font-weight: bold;
  font-size: 1rem;
}
