/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 1300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > div ul {
  list-style: none;
  display: inline-flex;
}

.navbar > div ul > li {
  margin: 0 1rem;
  text-transform: uppercase;
}

.navbar > div ul > li a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.navbar-selected {
  color: red !important;
}

.navbar-login {
  display: flex;
}

.navbar-login > div {
  margin: 0 1rem;
}

.navbar-login > div:last-child {
  margin: 0;
}

.fa-search {
  font-size: 1.2rem;
  color: gray;
}
